
.tile_row {
    float: left;
    width: 100%;
}

.tile {
    float: left;
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    margin: 1px;
}

.tile:hover {
    background-color: powderblue;
    cursor: pointer;
}

.tile__ocupped {
    pointer-events: none;
    cursor: copy;
}

.tile__ocupped:hover {
    background-color: cadetblue;
}

.results {
    display: none;
}